.mainBox {
    position: relative;
    height: 90vmin;
    width: 100%;
    /* background-color: rgb(171, 209, 243); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
}

.mainHeading {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2.5vmax;
}

.listBox {
    height: 80%;
    width: 90vmax;
    background-color: #edf7f6;
    border-radius: 1vmax;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 1.1vmax;
}

.categoryBox {
    height: 12%;
    width: 100%;
    background-color: #222e50;
    /* border-bottom: .15vmax solid #222e50; */
    color: #fff;
    display: flex;
    align-items: center;
}

.statementsData {
    height: 50%;
    width: 15%;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    gap: 1vmax;
    padding-left: 1vmax;
    border-right: .1vw solid #edf7f6;
}

.statementsData:nth-child(1){
    width: 5%;
}

.statementsData:nth-child(2){
    width: 30%;
}

.statementsData:last-child{
    border: none;
}

.listOfStatements {
    height: 88%;
    width: 100%;
    /* background-color: #222e50; */
    /* border-bottom: .1vmax solid #222e50; */
    color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.noData { 
    height: 20vmin;
    width: 100%;
    /* background-color: grey; */
    color: #222e50;
    border-bottom: .1vmax solid #222e50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statementList {
    height: 7vmin;
    width: 100%;
    /* background-color: aquamarine; */
    color: #222e50;
    border-bottom: .1vmax solid #222e50;
    display: flex;
    align-items: center;
}
/* 
.statementList:last-child{
    border: none;
} */

/* .statementList:nth-child(odd){
    background-color: bisque;
} */

.statement {
    height: 60%;
    width: 15%;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    padding-left: 1vmax;
    border-right: .1vw solid #222e50;
}

.statement:nth-child(1){
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5vmax;
}

.statement:nth-child(2){
    width: 30%;
    /* background-color: bisque; */
    overflow: hidden;
}

.para {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.statement:last-child{
    border: none;
    /* background-color: rgb(232, 223, 165); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 0 .5vmax;
}

.btn {
    height: 100%;
    width: 20%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3vmax;
    cursor: pointer;
}

.btn:first-child{
    background-color: rgb(133, 225, 133);
}

.btn:last-child{
    background-color: rgb(225, 133, 133);
}

.incomeArrow {
    font-weight: 800;
    color: rgb(133, 225, 133);
}

.expenseArrow {
    font-weight: 800;
    color: rgb(225, 133, 133);
}

.totatStatements {
    height: 5%;
}

/* --------------------- Responsive ------------------------ */
@media only screen and (max-width: 500px) {
    .mainBox {
        position: relative;
        height: 90vmax;
        width: 100%;
        /* background-color: rgb(171, 209, 243); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vmin;
    }
    
    .mainHeading {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 2.5vmax;
    }
    
    .listBox {
        height: 80%;
        width: 90%;
        background-color: #edf7f6;
        border-radius: 1vmax;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        font-size: 1.1vmax;
    }
    
    .categoryBox {
        height: 12%;
        width: 100%;
        background-color: #222e50;
        /* border-bottom: .15vmax solid #222e50; */
        color: #fff;
        display: flex;
        align-items: center;
    }
    
    .statementsData {
        height: 50%;
        width: 15%;
        /* background-color: grey; */
        display: flex;
        align-items: center;
        gap: 1vmax;
        padding-left: 1vmax;
        border-right: .1vw solid #edf7f6;
    }
    
    .statementsData:nth-child(1){
        width: 5%;
    }
    
    .statementsData:nth-child(2){
        width: 30%;
    }
    
    .statementsData:last-child{
        border: none;
    }
    
    .listOfStatements {
        height: 88%;
        width: 100%;
        /* background-color: #222e50; */
        /* border-bottom: .1vmax solid #222e50; */
        color: #fff;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .noData { 
        height: 20vmin;
        width: 100%;
        /* background-color: grey; */
        color: #222e50;
        border-bottom: .1vmax solid #222e50;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .statementList {
        height: 7vmin;
        width: 100%;
        /* background-color: aquamarine; */
        color: #222e50;
        border-bottom: .1vmax solid #222e50;
        display: flex;
        align-items: center;
    }
    /* 
    .statementList:last-child{
        border: none;
    } */
    
    /* .statementList:nth-child(odd){
        background-color: bisque;
    } */
    
    .statement {
        height: 60%;
        width: 15%;
        /* background-color: grey; */
        display: flex;
        align-items: center;
        padding-left: 1vmax;
        border-right: .1vw solid #222e50;
    }
    
    .statement:nth-child(1){
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 .5vmax;
    }
    
    .statement:nth-child(2){
        width: 30%;
        /* background-color: bisque; */
        overflow: hidden;
    }
    
    .para {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .statement:last-child{
        border: none;
        /* background-color: rgb(232, 223, 165); */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        padding: 0 .5vmax;
    }
    
    .btn {
        height: 100%;
        width: 20%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .3vmax;
        cursor: pointer;
    }
    
    .btn:first-child{
        background-color: rgb(133, 225, 133);
    }
    
    .btn:last-child{
        background-color: rgb(225, 133, 133);
    }
    
    .incomeArrow {
        font-weight: 800;
        color: rgb(133, 225, 133);
    }
    
    .expenseArrow {
        font-weight: 800;
        color: rgb(225, 133, 133);
    }
    
    .totatStatements {
        height: 5%;
    }
}